name: Test
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install dependencies
        run: pip install coverage
      - name: Run tests
        run: coverage run --source=kube_bench_report_converter -m unittest discover kube_bench_report_converter/tests
